#!/bin/sh -e
CONFFILE=/etc/default/kdump-tools

# Source debconf library.
. /usr/share/debconf/confmodule

CONFIG_MODE="$1"

# Only pickup existing value if we are reconfiguring
# otherwise keep the value provided by dh_input
if test -e "$CONFFILE" -a "$CONFIG_MODE" != "configure"; then
	. "$CONFFILE"

	# Guard against admin writing silly things into the
	# config file...
	if test "$USE_KDUMP" != "1" -a "$USE_KDUMP" != "true" ; then 
		db_set kdump-tools/use_kdump "false"
	else
		db_set kdump-tools/use_kdump "true"
	fi
fi

# Setup and select the configuration mode
db_input high kdump-tools/use_kdump || true
db_go
